.togglePassword {
    right: 0;
}

#login-page, #register-page {
    transform: translatey(-($navHeight/2));

    form {
        max-width: 350px;

        button[type="submit"] {
            margin: auto;
            margin-top: 1.5rem;
        }

        h3 {
            margin-top: .5rem;
            margin-bottom: 2rem;
        }

        input, .card {
            background-color: $white;
        }

        svg {
            color: $primaryDark;
        }
    }
}