.togglePassword {
    right: 0;
}

#login-page, #register-page {
    transform: translatey(-($navHeight/5));

    form {
        max-width: 350px;

        .card {
            background-color: $white;

            a {
                font-size: 0.8rem;
                align-self: center;
            }
    
            h3 {
                margin-top: 0.5rem;
                margin-bottom: 2rem;
            }
            
            .input-group {
                input {
                    background-color: transparent;
    
                    &.form-control.is-invalid {
                        background-image: none;
                    }
                }

                button {
                    z-index: 999;

                    svg {
                        color: $greyLight;
                    }
                }
            }
        }

        button[type="submit"] {
            margin: auto;
            margin-top: 1.5rem;
        }
    }
}