.m-nav {
  padding-top: 2rem;

  .navbar-nav {
    a.nav-link {
      padding-right: 20px;
      padding-left: 20px;

      font-family: $font-nav;
      font-weight: $font-weight-nav;
      font-size: $font-size-nav;
      color: $greyLight;
    }
    
    a.nav-link:hover, a.nav-link:focus {
      color: $white;
    }
  }
}