.m-toggle-password {
  right: 0;
}

.m-account {
  transform: translatey(-($navHeight/4));
  max-width: 300px;
  margin: auto;

  form {        
    .card {
      background-color: $white;
      
      .card-body {
        h3 {
          margin-top: 0.5rem;
          margin-bottom: 2rem;
        }

        .m-input-container > .m-input-group {
          position: relative;
          display: flex;
          flex-wrap: wrap;

          &.form-check {
            label {
              font-size: 0.9rem;
            }
          }

          button {
            z-index: 999;

            &:focus {
              box-shadow: none;
            }

            svg {
              color: $greyLight;
            }
          }

          input {
            &.form-control {
              background-color: transparent;
              background-image: none;
            }

            &.form-check-input:not(:checked) {
              background-color: transparent;
            }

            &#inputPassword {
              padding-right: 2.25rem;
            }
          }

          .m-tooltip-container {
            position: absolute;
            left: 50%;
            top: 130%;
            transform: translate(-50%, 0);
            display: none;
            z-index: 1000;

            .tooltip {
              position: relative;
              opacity: 1;

              .tooltip-arrow {
                top: -9px;
                transform: translate(-50%, 0) rotate(-90deg);
                left: 50%;
              }

              .tooltip-inner {
                padding: 0.5rem;
                padding-left: 0.75rem;
                background-color: $primaryLight;
                color: $white;
                text-align: left;
                max-width: none;
                
                &.username {
                  width: 140px;
                }
                
                &.password {
                  width: 220px;

                  li.valid {
                    opacity: 0.25;            
                  }
                }

                ul {
                  list-style-type: none;
                  line-height: 1.2rem;
                }
              }
            }
          }

          input:focus ~ .m-tooltip-container {
            display: block;
          }

          @include media-breakpoint-up(md) {
            .m-tooltip-container {
              left: 101%;
              top: 50%;
              transform: translate(0, -50%);

              .tooltip > .tooltip-arrow {
                top: 50%;
                transform: translate(0, -50%) scaleX(-1);
                left: 0;
              }
            }
          }
        }

        .m-form-footer {
          color: $greyLight;
          line-height: 1.4;
          margin-bottom: .5rem;
        }
      }
    }

    button[type="submit"] {
      margin: auto;
      margin-top: 1.5rem;
    }
  }
}
