$primaryLight:  #1F2433;
$primary:       #171B26;
$primaryDark:   #0B0D12;

$green:         #58c255;
$red:           #da3849;
$blue:          #80b0f5;

$greyLight:     #646973;
$grey:          #41454E;
$greyDark:      #32353c;

$white:         #f5f5f5;
$black:         #000000;