input:not([type="checkbox"]), .card {
  border-radius: $defaultBorderRadius;
}

body {
  background-color: $primaryDark;
  
  #root {
    height: 100%;
    width: 100%;

    .main-container {
      margin: auto;
      max-width: 800px;
    }
  }
}