.btn-submit {
  background-color: $green;

  width: 2.5rem;
  height: 2.5rem; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &[disabled] {
    opacity: 0.4;
  }

  svg {
    color: $primaryDark;
    height: 55%;
    transform: translatey(3%);
  }
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
}