$primaryLight:  #191c24;
$primary:       #17191f;
$primaryDark:   #15171b;

$Green:         #58c255;
$Red:           #da3849;
$Blue:          #80b0f5;

$GreyLight:     #646973;
$GreyDark:      #32353c;

$white:         #f0f0f0;