$primaryLight:  #1b1e27;
$primary:       #17191f;
$primaryDark:   #15171b;

$green:         #58c255;
$red:           #da3849;
$blue:          #80b0f5;

$greyLight:     #646973;
$greyDark:      #32353c;

$white:         #f5f5f5;