input:not([type="checkbox"]), .card {
  border-radius: $borderRadiusDefault;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

button {
  cursor: pointer;
}

body {
  background-color: $primaryDark;
  
  #root {
    height: 100%;
    width: 100%;

    .main-container {
      margin: auto;
      max-width: 800px;
    }
  }
}

.avatar-container {
  display: block;
  border-radius: 100%;
  background-color: $white;
  min-width: 40px;
  height: 40px;

  padding: 0.75rem;
}

.form-errors {
  color: $red;
}

.testbutton {
  background-color: aliceblue;
  padding: 10px;
}